<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} titre par default{% endblock %}</title>
</head>
<body>
    <hr>
    {% block body %}
        du contenu par default du block
    {% endblock %}
    <hr>
</body>
</html>